@{
    ViewBag.Title = "Contacto";
}


<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeFIT</title>
    <link href="~/Content/Estilos/Contacto.css" rel="stylesheet" />
</head>
<body>
    <section class="subscribite" id="subscribite">
        <form class="form">

            <h2> Contáctanos</h2>

            <P>
                Dejanos tu comentario sobre en que podemos ayudarte
                y nuestro equipo se pondra en contacto contigo para asesorarte sobre rutinas y alimentación
            </P>

            <label for="">Nombre</label>
            <input type="text" id="nombre" class="box">
            <label for="">Apellido</label>
            <input type="text" id="apellido" class="box">


            <label for="">Email</label>
            <input type="email" id="correo" class="box">

            <label for="">Celular</label>
            <input type="text" id="celular" class="box">

            <label for="">Ubicación</label>
            <input type="text" name="" id="ubicacion" class="box">


            <label for=""> Comentarios</label>
            <textarea class="box" id="" cols="30" rows="10"> </textarea>

            <input type="submit" value="Enviar" class="submit">

        </form>

        <div class="info">
            <img src="resources/nuevo logo info.png" class="img-1" alt="">

            <div class="location">
                <div class="icons">
                    <img src="resources/map.png" alt="">
                    <p>Córdoba, Argentina.</p>
                </div>
                <div class="icons">
                    <img src="resources/whatsapp.png" alt="">
                    <p>3516850380</p>
                </div>
                <div class="icons">
                    <img src="resources/gmail.png" alt="">
                    <p>gabrieloyola59@gmail.com</p>
                </div>
            </div>

            <div class="social">
                <img src="resources/facebook.png" alt="">
                <img src="resources/instagram.png" alt="">
                <img src="resources/twitter.png" alt="">
            </div>

        </div>

    </section>

    <footer>
        <p> LifeFIT &copy;. Todos los derechos reservados</p>
    </footer>

</body>