@{
    ViewBag.Title = "Home Page";
}

<main>
    <link href="~/Content/lifefitStyle.css" rel="stylesheet" />
    <section class="presentation" id="presentation">
        <div class="presentation-video">
            <video src="/resources/wmAbdominales.mp4" autoplay muted loop></video>
        </div>
        <div class="dark-overlay">
            <div class="presentation-content">

                <h2 class="titulo"> Entrenamiento + Alimentación saludable = +Salud </h2>
                <p>
                    La motivación es lo que te pone en marcha, y el hábito es lo que hace que sigas
                </p>
            </div>

        </div>
    </section>
    <section class="nosotros" id="nosotros">
        <div class="about-container left" id="about-img1"> </div>
        <div class="about-container right about-content">
            <h2 class="about-title">La importancia del ejercicio</h2>
            <p>
                El ejercicio físico es bueno para todas las partes del cuerpo, incluida la mente.
                El ejercicio mejora la salud del cerebro y el aprendizaje.
                Puede ayudar a las personas a dormir mejor. Cuando haces ejercicio, tu cuerpo produce sustancias químicas que te ayudan a sentirte bien.
                El ejercicio reduce las posibilidades de sufrir de depresión y disminuye los sentimientos de ansiedad.
                Además, el ejercicio puede darte una verdadera sensación de logro y orgullo por alcanzar metas,
                como dominar un nuevo paso de baile o batir un récord personal en 100 metros llanos.
            </p>
        </div>

        <div class="about-container right" id="about-img2"></div>
        <div class="about-container left about-content">
            <h2 class="about-title">Alimentacion saludable</h2>
            <p>
                Comer bien, en especial con la familia y amigos, es uno de los placeres de
                la vida. Esto también se logra con alimentos saludables y nutritivos,
                combinándolos adecuadamente. Para ello es necesario conocer cuáles son
                los alimentos disponibles, los nutrientes que aportan y qué combinaciones
                ofrecen las mejores alternativas para alimentarse bien.
                Todos sabemos que las personas que se alimentan de forma saludable y
                equilibrada, y con alimentos variados, tienen una mayor probabilidad de:
                crecer y desarrollarse sanos y fuertes;
                tener más energía para trabajar y disfrutar de sí mismos;
                sufrir menos infecciones y otras enfermedades.
            </p>
        </div>

    </section>
    <section class="menu" id="menu">

        <div class="dark-overlay">
            <div class="menu-inner">
                <h2 class="menu-title">Nuestras rutinas</h2>

                <ul>
                    <li>
                        <div><a href="#"> Principiante</a></div>

                    </li>
                    <li>
                        <div><a href="#"> Principiante - Intermedio</a></div>

                    </li>
                    <li>
                        <div><a href="#"> Intermedio</a></div>

                    </li>
                    <li>
                        <div><a href="#"> Intermedio - dificil </a></div>
                    </li>
                    <li>
                        <div><a href="#"> Dificil</a></div>

                    </li>
                </ul>
            </div>

        </div>


    </section>
    <footer>
        <p> LifeFIT &copy;. Todos los derechos reservados</p>
    </footer>
</main>